



<div class="popup add-folder-popup myforms-popup"> 
    <div class="popup-content"  style="top: 0px; overflow: initial;"> 
    <div class="popup-header">
        
    <span class="close-button cursor-p">
    </span>
    </div> 
    <div class="popup-content-wrapper mt-1">
    <h3 >Nom de dossier</h3> 
    <div class="add-folder-content">
    <div class="input-field i-text success-input-wrapper">
    <div > 
    <input id="i-text-2" placeholder="Nom de dossier" type="text" autocomplete="off" class="f-input"/> 
    </div>
    </div> 
    </div> 
    <div class="change-color-content-layout">
    <h3>Couleur du dossier</h3> 
    <div class="change-color-content">
    <div class="change-color-item" style="background: rgb(226, 94, 165);">
    </div>
    <div class="change-color-item" style="background: rgb(121, 232, 138);"> 
    </div>
    <div class="change-color-item" style="background: rgb(226, 145, 94);"> 
    </div>
    <div class="change-color-item" style="background: rgb(94, 226, 206);"> 
    </div>
    <div class="change-color-item" style="background: rgb(226, 94, 94);"> 
    </div>
    <div class="change-color-item" style="background: rgb(196, 94, 226);">
    </div>
    <div class="change-color-item add" style="background: rgb(206, 206, 206);">
    </div> 
    <div class="design-input-item cursor-p color-picker naked i-hidden">
    <div class="color-footer">
    <div tabindex="0" class="i-button color-footer-cancel outline">
    <div class="text-wrapper">
    </div>
    </div> 
    <div tabindex="0" class="i-button color-footer-save">
    <div class="text-wrapper">
    </div> 
    </div>
    </div>
    </div>
    </div>
    </div> 
    <div class="apply-btn">
    <div tabindex="0" class="i-button disabled">
    <div class="text-wrapper">Ajouter</div>
    </div>
    </div>
    </div>
    </div>
    </div>
