<div>
    <div class="div3">
        <div class="div1-3">
          
          <span style="display: inline-block;">
            Profitez aujourd'hui d'une réduction allant 
            <b style="font-weight: 700; margin-right: 4px; margin-left: 4px;"> jusqu'à 65%</b> 
            sur les plans annuels payants !
          </span>
            🌴
        </div>
        <div class="div2-3">
          <h4 class="email-title">
            Améliorez votre forfait
          </h4>
          <span style="font-size: 12px;" class="email-description">
            Combien de membres de l’équipe souhaitez-vous inviter?
          </span>
        </div>

        <div class="option-wrapper view-type">
          <div class="view-type-item">
            <span class="option-title">Basic</span>
              <label class="i-radio radio custom">
                <input type="radio" tabindex="-1" hidden="hidden" value="basic">
                <span class="option-number">+1 membre</span>
              </label>
          </div>
          <div class="view-type-item">
            <span class="option-title">Pro</span>
             <label  class="i-radio radio custom">
              <input type="radio" tabindex="-1" hidden="hidden" value="pro">
              <span class="option-number">+4 membres</span>
            </label>
          </div>
            <div class="view-type-item">
              <span class="option-title">Premium</span> 
              <label class="i-radio radio custom">
                <input type="radio" tabindex="-1" hidden="hidden" value="premium">
                <span class="option-number">+9 membres</span> 
              </label>
            </div>
          </div>

          <div class="upgrade-info-upgrade-button">
            <a>
              Améliorer
            </a>
          </div>
        
      </div>
      <div class="logforg">
          <span>
            Besoin de plus?
            <span class="contact-us-button">
              Contactez-nous!
            </span>
          </span>
      </div>
  </div>
