<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<div class="main-container">
    <div class="navbar">
      <img  class="pan" src="https://forms.app/assets/img/logo-home.svg" alt="">
              <span class="spacer"></span>
        <span>
         
        </span>
        <span><img src="https://static.vecteezy.com/ti/vecteur-libre/p1/7409979-people-icon-design-avatar-icon-person-icons-people-icons-are-set-in-tendance-flat-style-user-icon-set-vectoriel.jpg" class="perss"></span>
    </div>

    <div class="sidenav-container ">
        <div mode="side" opened class="sidenav" style="overflow: hidden; height: 90vh;">
            <nav id="sidebarMenu" class="sidebar" style="display: flex; flex-direction: column; height: 100%;">
              <div class="n" style="flex-grow: 1; overflow: hidden;">
                <div class="sidebar">
                    <div class="sidebar-item">
                        <i class="fa fa-folder icon"></i>
                        
                        <span  class="title"> <img  class="fo" src="https://cdn-icons-png.flaticon.com/512/6421/6421284.png" alt="">MES FORMULAIRES</span>
                        <span class="count">(0)</span>
                    </div>

                    <div class="folder" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <i class="fa fa-folder-plus icon"></i>
                        <span> <img  class="aj" src="https://c8.alamy.com/compfr/2c307jw/icone-nouveau-dossier-de-l-ordinateur-creer-un-nouveau-dossier-de-fichiers-ajouter-un-nouveau-dossier-illustration-vectorielle-2c307jw.jpg" alt=""> 
                          <a  class="text-dark">Creer un nouveau dossier</a>
                        </span>
                    </div>
                    
                    <!-- voici le modal  -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Nom du dossier</h1>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          
                          <input type="text" placeholder="nom du dossier" >
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Couleur du dossier</h1>

                          <div class="modal-footer">

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Ajouter</button>
                          </div>

                        </div>
                      </div>
                    </div>
                    <!-- fin modal  -->

                </div>
              </div>
              <div class="C" style="flex-shrink: 0;">
                <div class="row d-flex align-items-center">
                  <button class="b text-white">
                    Gratuit            
                  </button>
                  <div class="ms-auto dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Formulaire de quota</a></li>
                      <li><a class="dropdown-item" href="#">Quota de réponses mensuelles</a></li>
                      <li><a class="dropdown-item" href="#">Quota de vues de formulaire</a></li>
                    </ul>
                  </div>
                </div>
                <div class="item">
                  <h5 class="D">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6wfkUdtD30_s12oxJfuWnR05Hi39N2bSyNQ&s" class="icon-img"> Archive
                    <span class="count">(0)</span>
                  </h5>
                </div>
                <div class="item">
                  <h5 class="D">
                    <img src="https://img.freepik.com/vecteurs-premium/icone-corbeille-icone-corbeille_645658-3622.jpg" class="icon-img"> Corbeille
                    <span class="count">(0)</span>
                  </h5>
                </div>
                <div class="item">
                  <h5 class="D">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmWpEreV5G9wriNvCqU8rde97qeiH1l73_jg&s" class="icon-img"> Mes Soumissions
                  </h5>
                </div>
                <div class="item">
                  <h5 class="D">
                    <img src="https://static.vecteezy.com/ti/vecteur-libre/p3/8134814-utilisateur-groupe-reseau-entreprise-equipe-groupe-communaute-membre-icone-entreprise-equipe-travail-activite-personnel-unite-icone-gratuit-vectoriel.jpg" class="icon-img"> Membres d'équipe
                  </h5>
                </div>
              </div>
            </nav>
        </div>
        <div class="content">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-4">
                  <h5>Mes formulaires <button class="btn btn-custom"><span class="text-white">
                    <a href="/CRÉER UN FORMULAIRE" class="text-dark">CRÉER UN FORMULAIRE</a></span>
                    </button></h5>                   
                     <div class="icon-buttons">
                       <i class="fas fa-search"></i><input
                        type="search"
                        class="fa fa-search"
                        placeholder="Search"
                        aria-label="Search"
                        aria-hidden="true"
                        aria-describedby="search-addon"
                      /> 
                        <button class="btn"><i class="fas fa-search"></i><img class="rec" src="https://thumbs.dreamstime.com/b/ic%C3%B4ne-de-loupe-ou-recherche-123898043.jpg" alt=""></button>
                          <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-sort"></i><img   class="sor" src="https://www.iconbolt.com/iconsets/ionicons-regular/filter.svg" alt="">
                          </button>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> <img class="fav" src="https://lh5.googleusercontent.com/proxy/rLYkqoesNKK-tAOb1rfX2PLREePApu0WeTj8Lq7vQnTmY7DS_psEqSE4NGgIOZPx-cBTEqaUtwu3g2QCnA7hvA" alt="">Favoris</a></li>
                            <li><a class="dropdown-item" href="#"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> <img class="sans" src="https://img.icons8.com/ios7/600w/000000/star.png" alt="">Sans etoile</a></li>
                            <li><a class="dropdown-item" href="#"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> <img   class="rou" src="https://static.vecteezy.com/system/resources/previews/016/314/339/non_2x/red-circle-red-dot-icon-free-png.png" alt="">Reponses non lues</a></li>
                            <li><a class="dropdown-item" href="#"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /><img  class="gris" src="https://e7.pngegg.com/pngimages/598/420/png-clipart-dot-dot.png" alt="">Sans reponse non lues</a></li>
                            <li><a class="dropdown-item" href="#"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> <img class="pause" src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-pause-icon-png-image_4272679.jpg" alt="">Desactive</a></li>
                            <li><a class="dropdown-item" href="#"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> <img class="dem" src="https://cdn.icon-icons.com/icons2/2483/PNG/512/start_icon_149862.png" alt="">Active</a></li>
                            <li><a class="dropdown-item" href="#"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> <img class="vert" src="https://e7.pngegg.com/pngimages/903/843/png-clipart-art-edible-world-earth-almond-globe-logo.png" alt="">Publique</a></li>
                            <li><a class="dropdown-item" href="#"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> <img class="cad" src="https://us.123rf.com/450wm/vectoraa/vectoraa1802/vectoraa180200052/96040894-ic%C3%B4ne-vecteur-cadenas-design-plat.jpg?ver=6" alt="">Non repertorie</a></li>
                            <li><a class="dropdown-item" href="#"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> <img class="pes" src="https://www.shutterstock.com/image-vector/people-two-person-icon-flat-260nw-1362108236.jpg" alt="">Limite</a></li>
                            <li><a class="dropdown-item" href="#"><input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" /> <img class="pri" src="https://cdn.icon-icons.com/icons2/67/PNG/512/private_13695.png" alt="">Prive</a></li>
                          </ul>
                        <button class="btn"><i class="fas fa-sort"></i><img   class="sor" src="https://cdns.iconmonstr.com/wp-content/releases/preview/2014/240/iconmonstr-sort-25.png" alt="">
                         
                        </button>  
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#"> <input
                            mdbRadio
                            class="form-check-input"
                            type="radio"
                            name="flexRadioDefault"
                            id="flexRadioDefault1"
                          /></a>ggggg</li>
                        </ul>                      
                        <button class="btn "><i class="fas fa-list"></i> <img  class="per" src="https://icons.iconarchive.com/icons/fa-team/fontawesome/512/FontAwesome-List-Check-icon.png" alt="">
                          
                        <!-- Default checkbox -->
<!-- <div class="form-check">
  <input
    mdbCheckbox
    class="form-check-input"
    type="checkbox"
    value=""
    id="flexCheckDefault"
  />
  <label class="form-check-label" for="flexCheckDefault">
    Creation date
  </label>
</div> -->
<!-- Checked checkbox
<div class="form-check">
  <input
    mdbCheckbox
    class="form-check-input"
    type="checkbox"
    value=""
    id="flexCheckChecked"
    [checked]="true"
  />
  <label class="form-check-label" for="flexCheckChecked">
Alphabetical  </label>
</div>
<div class="form-check">
  <input
    mdbCheckbox
    class="form-check-input"
    type="checkbox"
    value=""
    id="flexCheckDefault"
  />
  <label class="form-check-label" for="flexCheckDefault">
    Last edit
  </label>
</div>
<div class="form-check">
  <input
    mdbCheckbox
    class="form-check-input"
    type="checkbox"
    value=""
    id="flexCheckDefault"
  />
  <label class="form-check-label" for="flexCheckDefault">
    Response count
  </label>
</div>-->
</button> 

                        <button class="btn"><i class="fas fa-list"></i> <img  class="per" src="https://cdn0.iconfinder.com/data/icons/rounded-basics/24/svg-rounded_list-512.png" alt=""> Liste</button>
                        <button class="btn "><i class="fas fa-th"></i> <img class="pour" src="https://static.vecteezy.com/ti/vecteur-libre/p1/26333583-la-grille-icone-vecteur-symbole-conception-illustration-vectoriel.jpg" alt="" >Grille</button>
                    </div>
                </div>
                <div class="empty-state">
                    <img src="https://forms.app/static/img/myforms-empty.svg" alt="Form Icon">
                    <h6>VOUS N'AVEZ PAS ENCORE CRÉÉ DE FORMULAIRES.</h6>
                    <p>Vos formulaires apparaîtront ici.</p>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</div>