



<div class=" ddd text-center bg-dark">
    <div class="row g-2 ">
      <div class="col-md-6">
        <img src="" alt="">
        <div class="login-container "> <img src="https://forms.app/assets/img/logo-home.svg" class="tt" alt="">
            <br>
           <br> 
           <form>
            
            <div>
                <h4 class="text-dark">Bonjour! C'est bon de te revoir.👋</h4>
                <br>
                <button class="btn bg-primary text-white w-100 mb-3">
                    <img src=" https://asset.brandfetch.io/id6O2oGzv-/idNEgS9h8q.jpeg" alt="logo" class="google-logo"> S'identifier avec Google
                </button>
                
                <button class="btn bg-dark text-white w-100 mb-3">
                    <img src=" https://img2.pngdownload.id/20180420/vuq/kisspng-apple-logo-company-clip-art-amar-vector-5ada362a3ac2e9.8697218715242501542407.jpg" alt="Logo" class="apple-logo"> S'identifier avec Apple
                </button>
                
            </div>
             <br>
             
             <h3>_____  ou  _____</h3>
             <br>
             <h6 >  Nom d'utilisateur ou email</h6>
       
             <input type="text" placeholder="exemple@domain.com" >
             <h6 >  Mot de passe</h6>   
       
             <input type="password" placeholder="s'il vous plait entrer votre mot de passe!" >
             <h6 id="forgot"> <u>Mot de passe oublier?</u></h6>
             <br>
             <br>
             <br>

             <a type="submit" href="/dashboard" id="av">Se connecter</a>
             <br>
       <h6>Tu es nouveau ici? <u class="uu">Inscription gratuite</u></h6>
           </form>
         </div>
    </div>
    <br>
    <br> 
      <div class="col-md-6">
        <div id="diaporama">
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>

                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active" data-bs-interval="10000">
                    <img src="https://forms.app/static/img/auth-slider1.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                    </div> 
                      <h5 class="text-white">Special themes to match your style and brand</h5>
                      <p class="text-white"> A lasting impression with over 50+ amazing themes .Transform your form in a snap or make customizations to showcase your fair and creativity </p>
                    
                   
                  </div>
                  <div class="carousel-item" data-bs-interval="2000">
                    <img src="https://forms.app/static/img/auth-slider2.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block" id="mm"></div>
                      <h5 class="text-white">Logic features for better data collection</h5>
                      <p class="text-white">Smart forms get better results.Make your forms more engaging by showing or hiding questions based answers.</p>
                    
                  
                </div>
                  <div class="carousel-item">
                    <img src="https://forms.app/static/img/auth-slider3.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block "></div>

                      <h5 class="text-white">Over 500+ integrations to work with your favorite tools</h5>
                      <p class="text-white"> forms.app is a greet team player.connect your forms to your favorite apps and enjoy a much simpler workflow.</p>
                    
                  
                </div>
                <div class="carousel-item">
                    <img src="https://forms.app/static/img/auth-slider4.png" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block "> </div>
                      <h5 class="text-white">Teamwork made easy with forms.app</h5>
                      <p class="text-white">A lasting impression with over 50+ amazing themes .Transform your form in a snap or make customizations to showcase your fair and creativity.</p>
                    
                 
                </div>
               
              </div>
          </div>

      </div>
      
    </div>
  </div>
</div>
 

 
 
  