<div class="container rounded border-radius mt-2 mat-raised">
    <div class="d-flex"><h5>Creer votre formulaire</h5> <button type="button" 
    class="btn-close position-absolute top-0 end-0" aria-label="Close"></button></div>
<div class="row row-cols-1 row-cols-md-4 g-4 shadow-5 mt-2 text-center">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
            <img  class="vec" src="https://static.vecteezy.com/ti/vecteur-libre/p1/10315438-quadrangulaire-star-shine-effet-icone-vecteur-contour-illustration-vectoriel.jpg" alt="">
          <br>
<br>
            <h5 class="card-title">Generer avec l'IA</h5>
          <p class="card-text">
           Utilisez forms.app AI pour avoir un formulaire personnalisable instantanement.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
      
        <div class="card-body">
            <img class="sta" src="https://thumbs.dreamstime.com/b/ic%C3%B4ne-plus-ajouter-279330836.jpg" alt="">
<br>
<br>
          <h5 class="card-title">Commencer a partir de Zero</h5>
          <p class="card-text">Obtenez une toile vierge pour laisser votre creativite s'exprimer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
       
        <div class="card-body">
            <img class="sec" src="https://www.svgrepo.com/show/532955/grid-plus.svg" alt="">
<br>
<br>
<br>
          <h5 class="card-title">Selectionner un modele</h5>
          <p class="card-text">Choisissez parmi des modeles artisanaux pour commencer immediatement.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
            <img class="im" src="https://cdn.icon-icons.com/icons2/1875/PNG/512/fileimport_120157.png" alt="">
            <br>
            <br>
            br
          <h5 class="card-title">Importer un formulaire</h5>
          <p class="card-text">
            Gagnez du temps en important vos formulaires existants (PDFs, URLs, & plus)
          </p>
        </div>
      </div>
    </div>
  </div>
</div>