.sta{
    width: 60px;
    height: 60px;
    margin-left: 17px;
    


}
.im{
    width: 50px;
    height: 40px;
    margin-left: 17px;
}
.sec{
    width: 50px;
    height: 40px;
    margin-left: 17px; 
}
.vec{

    width: 70px;
    height: 70px;
    margin-left: 17px; 
}

